<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráfico de Inscritos en Eventos</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div style="width: 80%; margin: 0 auto;">
        <h2>Inscritos en los Eventos</h2>

        <canvas id="inscritosChart"></canvas>
    </div>

    <script>
        // Datos para el gráfico de inscritos en eventos
        const inscritosData = {
            labels: {% for titulo in eventos_titulos %}"{{ titulo }}"{% if not forloop.last %}, {% endif %}{% endfor %},
            datasets: [{
                label: 'Inscritos en los eventos',
                data: {% for inscritos in eventos_inscritos %}{{ inscritos }}{% if not forloop.last %}, {% endif %}{% endfor %},
                backgroundColor: '#007bff',
                borderColor: '#0056b3',
                borderWidth: 1
            }]
        };

        const inscritosConfig = {
            type: 'bar',
            data: inscritosData,
            options: {
                responsive: true,
                scales: {
                    x: {
                        beginAtZero: true
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        // Crear el gráfico
        window.onload = function() {
            const inscritosCtx = document.getElementById('inscritosChart').getContext('2d');
            new Chart(inscritosCtx, inscritosConfig);
        };
    </script>
</body>

</html>
