<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard 2</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!-- Incluir Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Incluir JustGage y Raphael -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.4.0/justgage.min.js"></script>

    <style>
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            height: 100%; /* Para llenar toda la altura de la tarjeta */
        }

        .kpi-card {
            min-height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: auto; /* Para ajustar la altura automáticamente */
        }

        .card-footer {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-custom {
            width: auto;
            padding: 0.5rem 1rem;
            margin: 0;
        }
    </style>
</head>

<body class="bg-white">
    {% include 'mi_app/navbar.html' %}

    <section>
        <div class="container-fluid mb-2">
            <div class="container-lg row mx-auto">

                <h1 class="display-5 fw-semibold mt-5 mb-3">Dashboard de Eventos</h1>

                <div class="row row-cols-1 row-cols-lg-3 g-4">

                    <!-- Gráfico de Inscritos -->
                    <div class="col">
                        <div class="card">
                          <h2 class="card-header fs-4 py-4 text-center">Inscritos por Evento</h2>
                          <div class="card-body">
                            <div class="mx-auto px-3 py-2">
                                <canvas id="graficoInscritos" height="400"></canvas>
                            </div>
                          </div>
                        </div>
                    </div>

                    <!-- Gráfico Carreras con Mayor Participación -->
                    <div class="col">
                      <div class="card">
                        <h2 class="card-header fs-4 py-4 text-center">Carreras con Mayor Participación</h2>
                        <div class="card-body">
                            <div class="px-3">
                                <canvas id="graficoCarreras"></canvas>
                            </div>
                        </div>
                      </div>
                    </div>

                    <!-- Gráfico Promedio de Eventos por Estudiante -->
                    <div class="col">
                      <div class="card">
                        <h2 class="card-header fs-4 py-4 text-center">Promedio de Eventos por Estudiante</h2>
                        <div class="card-body">
                            <div class="py-2">
                                <div id="gaugeContainer"></div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-lg-3 g-4 mt-4">
                    <!-- KPIs -->
                    <div class="col">
                        <div class="card kpi-card">
                            <h2 class="card-header fs-4 py-4 text-center">Encuestas Contestadas</h2>
                            <div class="card-body text-center">
                                <h3>{{ cantidad_encuestas_contestadas }}</h3>
                            </div>
                            <div class="card-footer">
                                <button onclick="window.location.href='/encuestas/ver/'" class="btn btn-primary btn-custom mt-3">Ver Encuestas</button>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card kpi-card">
                            <h2 class="card-header fs-4 py-4 text-center">Estudiantes Totales e Inscripciones</h2>
                            <div class="card-body text-center">
                                <canvas id="estudiantesChart"></canvas>
                            </div>
                            <div class="card-footer">
                                <button onclick="window.location.href='/listar_eventos/'" class="btn btn-primary btn-custom mt-3">Listar Eventos</button>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card kpi-card">
                            <h2 class="card-header fs-4 py-4 text-center">Inscripciones en Eventos</h2>
                            <div class="card-body text-center">
                                <ul class="list-group">
                                    {% for evento, espera, cupos in lista_espera_eventos %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ evento }} - Lista de Espera: {{ espera }} - Cupos: {{ cupos }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="card-footer">
                                <button onclick="window.location.href='/listar_eventos/'" class="btn btn-primary btn-custom mt-3">Listar Eventos</button>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="mt-5 pt-4 px-4 text-center border-top text-muted">
                    <p>Creado por tu nombre &copy; 2024</p>
                </footer>
            </div>
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Datos para el gráfico de inscritos por evento
            const inscritosData = {
                labels: {{ grafico_eventos|safe }},
                datasets: [{
                    label: 'Inscritos',
                    data: {{ grafico_inscritos|safe }},
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            };

            const inscritosConfig = {
                type: 'bar',
                data: inscritosData,
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            };

            const inscritosCtx = document.getElementById('graficoInscritos').getContext('2d');
            new Chart(inscritosCtx, inscritosConfig);

            // Datos para el gráfico de carreras con mayor participación
            const carrerasData = {
                labels: {{ labels_carreras|safe }},
                datasets: [{
                    label: 'Participación',
                    data: {{ data_carreras|safe }},
                    backgroundColor: 'rgba(153, 102, 255, 0.2)',
                    borderColor: 'rgba(153, 102, 255, 1)',
                    borderWidth: 1
                }]
            };

            const carrerasConfig = {
                type: 'bar',
                data: carrerasData,
                options: {
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            };

            const carrerasCtx = document.getElementById('graficoCarreras').getContext('2d');
            new Chart(carrerasCtx, carrerasConfig);

            // Datos para el gráfico de estudiantes totales e inscripciones
            var ctxEstudiantes = document.getElementById('estudiantesChart').getContext('2d');
            var dataEstudiantes = JSON.parse('{{ data_estudiantes|escapejs }}');
            var estudiantesChart = new Chart(ctxEstudiantes, {
                type: 'pie',
                data: {
                    labels: Object.keys(dataEstudiantes),
                    datasets: [{
                        label: 'Estudiantes',
                        data: Object.values(dataEstudiantes),
                        backgroundColor: ['#FF6384', '#36A2EB'],
                    }]
                },
                options: {
                    responsive: true,
                }
            });

            // Datos para el gauge del promedio de eventos por estudiante
            const gauge = new JustGage({
                id: 'gaugeContainer',
                value: {{ promedio_eventos_por_estudiante }},
                min: 0,
                max: 10,
                title: 'Promedio de Eventos por Estudiante',
                label: 'Eventos',
                gaugeWidthScale: 0.6,
                customSectors: [{
                    color: "#ff0000",
                    lo: 0,
                    hi: 2
                }, {
                    color: "#f9c802",
                    lo: 2,
                    hi: 4
                }, {
                    color: "#a9d70b",
                    lo: 4,
                    hi: 10
                }],
                counter: true
            });
        });
    </script>

    <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
